@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-primary-2: #818cf8;
  --color-primary-3: #a5b4fc;
  --color-primary-4: #4648d4;
  --color-primary-5: #4338ca;
  --color-primary-container: #6063ee;

  --color-tertiary: #94a3b8;

  --color-background: #0f172a;
  --color-glass-bg: #1e293b;

  --color-error-container: #f43f5e;
  --color-success-container: #10b981;
  --color-info-container: #6366f1;
  --color-warning-container: #f59e0b;

  --shadow-primary: 0px 10px 30px 0px #6366f166;
  --shadow-white: 0px 0px 10px 0px #ffffff4d;
  --shadow-landing-hero: 0px 25px 50px -12px #00000040;
  --shadow-purple: 0px 25px 50px -12px #312e8180;

  --breakpoint-xs: 500px;
  --drop-shadow-primary: 0 25px 50px rgba(49, 46, 129, 0.5);
}

@layer base {
  .flex_center {
    @apply flex items-center;
  }
  .transition {
    @apply transition-all ease-in-out duration-300;
  }
}
@layer utilities {
  .section_p {
    @apply py-10 md:py-16 lg:py-[96px];
  }
  .main_gap {
    @apply gap-[64px];
  }
  .glass {
    @apply bg-[#1E293B66] border border-white/10 backdrop-blur-[10px];
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-manrope), sans-serif;
  background: #020617;
  overflow-x: hidden;
}
html[dir="rtl"] body {
  font-family: var(--font-lora);
}

/* --------------- start react toast --------------- */
/* container */
.Toastify__toast-container .Toastify__progress-bar--wrp {
  height: 2.5px !important;
}

/* close button */
.Toastify__toast-container .Toastify__close-button {
  top: 50%;
  inset-inline-end: 12px !important;
  /* right: auto !important; */
  transform: translateY(-50%);
}

.Toastify__toast-container .Toastify__close-button svg {
  fill: #64748b;
  stroke: #64748b;
}

/* shared toast style */
.Toastify__toast {
  position: relative;
  font-size: 16px !important;
  font-family: var(--font-manrope);
  font-weight: 400 !important;
  box-shadow: none;
  border-radius: 12px;
  padding: 12px;
  overflow: hidden !important;
  color: #f8f9ff !important;
}

/* SUCCESS */
.Toastify__toast--success {
  color: var(--color-semantic-green-900);
  border: 1px solid #10b98133;
  background: #10b9811a !important;
  backdrop-filter: blur(4px);
}
.Toastify__toast--success .Toastify__toast-icon svg {
  fill: var(--color-success-container);
}
.Toastify__toast--success::before {
  background-color: var(--color-semantic-green-900);
}

/* INFO */
.Toastify__toast--info {
  background: #6366f11a !important;
  border: 1px solid #6366f133 !important;
}
.Toastify__toast--info .Toastify__toast-icon svg {
  fill: var(--color-info-container);
}

/* ERROR */
.Toastify__toast--error {
  background: #f43f5e1a !important;
  border: 1px solid #f43f5e33 !important;
}
.Toastify__toast--error .Toastify__toast-icon svg {
  fill: var(--color-error-container);
}

/* WARNING */
.Toastify__toast--warning {
  background: #f59e0b1a !important;
  border: 1px solid #f59e0b33 !important;
}
.Toastify__toast--warning .Toastify__toast-icon svg {
  fill: var(--color-warning-container);
}

/* progress bar */
.Toastify__progress-bar--success {
  background-color: var(--color-success-container) !important;
}
.Toastify__progress-bar--info {
  background-color: var(--color-info-container) !important;
}
.Toastify__progress-bar--error {
  background-color: var(--color-error-container) !important;
}
.Toastify__progress-bar--warning {
  background-color: var(--color-warning-container) !important;
}
/* --------------- end react toast --------------- */
/* --------------- Start shadow --------------- */
.white_dropshadow {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
}
/* --------------- end shadow --------------- */

.Container {
  max-width: 1536px;
  width: 100%;
  margin: auto;
  padding-inline-start: 32px;
  padding-inline-end: 32px;
}

.landing_container {
  max-width: 1536px;
  width: 100%;
  margin: auto;
  padding-inline: 60px;
}

/* shadow */
.shadow_primary {
  box-shadow: 0px 0px 40px 0px #4648d480;
}
button {
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.wave_container {
  position: relative;
}
.wave_container::after {
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(100px);
  background: linear-gradient(
    90deg,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(6, 182, 212, 0.1) 50%,
    rgba(139, 92, 246, 0.1) 100%
  );
}

.animate_wave {
  height: var(--max-height);
  animation: expand 2s ease-in-out infinite;
}

@keyframes expand {
  0%,
  100% {
    height: calc(var(--max-height) * 0.3);
  }
  50% {
    height: var(--max-height);
  }
}
.mic_button {
  position: relative;
  overflow: visible;
}

.mic_button {
  position: relative;
}

.mic_button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.488);
  transform: scale(0.6);
  opacity: 0;
  z-index: -1;
  animation: micPulse 2s infinite ease-out;
}

@keyframes micPulse {
  0% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
/* --------------- start landing ------------------ */
.text_gradiant {
  background: linear-gradient(90deg, #818cf8, #c084fc, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing_gradiant {
  background: linear-gradient(90deg, #818cf8, #22d3ee);
  opacity: 0.25;
}

/* --------------- end landing ------------------ */

/* --------------- start responsive ------------------ */
@media (max-width: 1024px) {
  .landing_container {
    padding-inline: 40px;
  }
}
@media (max-width: 991px) {
  .landing_container {
    padding-inline: 32px;
  }
}
@media (max-width: 768px) {
  .Container,
  .landing_container {
    padding-inline: 24px;
  }
}

@media (max-width: 640) {
  .Container,
  .landing_container {
    padding-inline: 16px;
  }
}
/* --------------- end responsive ------------------ */
@keyframes blobMove {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(-30px, -20px) scale(1.1);
  }
  50% {
    transform: translate(-10px, -40px) scale(0.95);
  }
  75% {
    transform: translate(20px, -10px) scale(1.05);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blobMove 8s ease-in-out infinite;
}

.cta_section_contaienr::before {
  content: "";
  position: absolute;
  inset: 0;

  background: url("../images/general/abstract_overlay.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}
